body { font-size: 13px; font-family: "Open Sans"; 
	background:url(../images/login-bg.jpg) #0F1F2D no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-margin { margin-top: 70px; }
.login-page { background: #FFFFFF; padding: 20px; border-radius: 0px 0px 4px 4px; opacity: .95;}
.login-page-header { background: #f3f3f3; padding: 10px; border-radius: 4px 4px 0px 0px; text-align: center; border-bottom: 1px solid #dadada; font-weight: 600; color: #5c6267; opacity: .95;}
.align-center { text-align: center; }
.decent-margin-top { margin-top: 30px; }
.decent-margin { margin-top: 20px; margin-bottom: 20px;  }

.center-block-e{
    float: none;
    margin: 0 auto;
}
.login-alert-area { background: #FFFFFF; padding: 10px; margin: 10px;  }
.social-icon { padding-right: 10px; border-right: 1px solid #EEE; margin-right: 5px;}
.white-form-bg { background: #FFF !important; }
.btn-primary {
    color: #fff;
    background-color: #ff7c08 !important;
    border-color: #e56f07 !important;
	background-image: none !important;
}
.btn-primary:active, .btn-primary:hover{
    background-color: #f88724 !important;
	background-image: none !important;
    border-color: #e56f07 !important;
}
.btn-primary:focus {
    background-color: #ff7c08 !important;
	background-image: none !important;
    border-color: #e56f07 !important;
}